In [1]:
from pyhdf.SD import SD, SDC
import h5py
import os
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import icare
import sunrise

In [2]:
session = icare.ICARESession('/Users/jackpeele/Documents/Data Science/NASA/HDF')
# folder = session.listdir('CALIOP/SODA-333m.v2.00/2010/2010_03_02/')

ICARE Username: jpeele
ICARE Password: ···············

In [3]:
# root = 'CALIOP/SODA-333m.v2.00/2010/2010_03_02/'

def find_ACTIVATE(root):
    folder = session.listdir(root)

    for data in folder:

        path = session.get_file(root + data)
        file = SD(path, SDC.READ)

        lat = file.select('Latitude').get()
        lon = file.select('Longitude').get()
        coords = pd.DataFrame({'lat': lat, 'lon': lon})

        if len(coords.query('lat > 32 & lat < 39 & lon > 70 & lon < 75')) > 0:
            print(path)
            break

# find_ACTIVATE(root)

In [4]:
def find_ACTIVATE_in_range(root, rng):
    '''
    parse through folders, determine which days contain ACTIVATE region
    '''
    
    for i in range(rng):
        print(i)

        i += 1
        # root = 'CALIOP/SODA-333m.v2.00/2010/2010_03_'

        if i < 10:
            i = '0' + str(i) + '/'
        else:
            i = str(i) + '/'

        root = root + i

        find_ACTIVATE(root)

In [5]:
# Match

# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_04/SODA-333m_2010-03-04T21-18-45ZN_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_05/SODA-333m_2010-03-05T07-58-31ZD_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_06/SODA-333m_2010-03-06T21-06-36ZN_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_07/SODA-333m_2010-03-07T07-46-22ZD_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_08/SODA-333m_2010-03-08T20-54-27ZN_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_12/SODA-333m_2010-03-12T08-05-28ZD_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_13/SODA-333m_2010-03-13T21-13-33ZN_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_14/SODA-333m_2010-03-14T07-53-20ZD_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_15/SODA-333m_2010-03-15T21-01-25ZN_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_20/SODA-333m_2010-03-20T21-20-34ZN_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_21/SODA-333m_2010-03-21T08-00-20ZD_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_22/SODA-333m_2010-03-22T21-08-25ZN_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_23/SODA-333m_2010-03-23T07-48-11ZD_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_24/SODA-333m_2010-03-24T20-56-16ZN_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_28/SODA-333m_2010-03-28T08-07-18ZD_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_29/SODA-333m_2010-03-29T21-15-22ZN_V2-00.hdf
# /Users/jackpeele/Documents/Data Science/NASA/HDF/CALIOP/SODA-333m.v2.00/2010/2010_03_31/SODA-333m_2010-03-31T21-03-14ZN_V2-00.hdf

In [6]:
path = session.get_file('CALIOP/SODA-333m.v2.00/2010/2010_03_04/SODA-333m_2010-03-04T21-18-45ZN_V2-00.hdf')
file = SD(path, SDC.READ)

In [7]:
datasets_dic = file.datasets()

for idx,sds in enumerate(datasets_dic.keys()):
    print(idx,sds)

0 Latitude
1 Longitude
2 TAI_Time
3 GMAO_Altitudes
4 VFM_Altitudes
5 Total_Attenuated_Surface_Cross_Section_532
6 Total_Attenuated_Surface_Cross_Section_1064
7 Perpendicular_Attenuated_Surface_Cross_Section_532
8 CPR_Attenuated_Cross_Section
9 Depolarization_Aerosol_Upper_Layer
10 AMSR_E_Surface_Wind_Speed
11 AMSR_E_Atmospheric_Water_Vapor
12 AMSR_E_cloud_liquid_water_path
13 AMSR_E_Sea_Surface_Temperature
14 GMAO_Ozone
15 GMAO_Pressure
16 GMAO_Temperature
17 GMAO_relative_humidity
18 Optical_Depth_CPR_CAL532
19 Optical_Depth_CPR_CAL1064
20 Optical_Depth_AMSR_CAL532
21 Optical_Depth_AMSR_CAL1064
22 Optical_Depth_MODIS_550
23 Optical_Depth_MODIS_1064
24 Optical_Depth_532_Over_Liquid_Water_Cloud
25 Optical_Depth_1064_Over_Liquid_Water_Cloud
26 Angstrom_Exponent
27 Lidar_Ratio_532
28 Lidar_Ratio_1064
29 Particle_Depolarization
30 Particle_Total_Integrated_Backscatter_532
31 Total_Perpendicular_Integrated_Backscatter_532
32 Total_Integrated_Backscatter_1064
33 Angstrom_Exponent_Over_Liquid_Water_Cloud
34 Lidar_Ratio_532_Over_Liquid_Water_Cloud
35 Lidar_Ratio_1064_Over_Liquid_Water_Cloud
36 Particle_Depolarization_Over_Liquid_Water_Cloud
37 Particle_Integrated_Backscatter_532_Over_Liquid_Water_Cloud
38 Total_Integrated_Backscatter_532_Over_Liquid_Water_Cloud
39 Minimum_Integrated_Backscatter_532_Over_Liquid_Water_Cloud
40 Integrated_Perpendicular_Backscatter_532_Over_Liquid_Water_Cloud
41 Total_Integrated_Backscatter_1064_Over_Liquid_Water_Cloud
42 Integrated_Backscatter_532_Liquid_Water_Cloud
43 Integrated_Backscatter_1064_Liquid_Water_Cloud
44 Multiple_Scattering_Factor_Liquid_Water_Cloud
45 Depolarization_Liquid_Water_Cloud
46 Nb_Aerosol_Layer
47 Aerosol_Base_Altitude
48 Aerosol_Top_Altitude
49 Nb_Liquid_Cloud_Layer
50 Liquid_Cloud_Base_Altitude
51 Liquid_Cloud_Top_Altitude
52 Nb_Ice_Cloud_Layer
53 Ice_Cloud_Base_Altitude
54 Ice_Cloud_Top_Altitude
55 VFM_Feature_Classification_Flags
56 Scene_Flags
57 QA_Flags
58 Optical_Depth_Error_CPR
59 Optical_Depth_Error_Total

In [8]:
lat = file.select('Latitude').get()
lon = file.select('Longitude').get()
temp = pd.DataFrame({'lat': lat, 'long': lon})

In [9]:
index = np.array(temp.query('lat > 32 & lat < 39 & long > 70 & long < 75').index)

In [10]:
time = file.select('TAI_Time').get()
temp['tai_time'] = time

In [11]:
ACTIVATE = temp.loc[index]

In [12]:
def ACTIVATE_time_to_utc(time):
    
    # https://hpiers.obspm.fr/eop-pc/index.php?index=TAI-UTC_tab&lang=en
    # leap seconds for a given date
    
    UTC = []
    
    for t in time:
        utc = datetime(1993, 1, 1) + timedelta(seconds = t - (34 - 27))
        UTC.append(utc)
    
    return UTC

In [13]:
ACTIVATE['utc'] = ACTIVATE_time_to_utc(ACTIVATE['tai_time'])

In [14]:
def find_sunrise(ACTIVATE):
    
    # do I need to adjust time zones?
    
    SRISE = []
    
    for i in range(len(ACTIVATE)):
        s = sunrise.sun(lat = list(ACTIVATE['lat'])[i], long = list(ACTIVATE['long'])[i])
        srise = s.sunrise(when = list(ACTIVATE['utc'])[i])
        SRISE.append(srise)
    
    return SRISE

In [15]:
ACTIVATE['sunrise'] = find_sunrise(ACTIVATE)

In [16]:
def find_sunset(ACTIVATE):
    
    # do I need to adjust time zones?
    
    SSET = []
    
    for i in range(len(ACTIVATE)):
        s = sunrise.sun(lat = list(ACTIVATE['lat'])[i], long = list(ACTIVATE['long'])[i])
        sset = s.sunset(when = list(ACTIVATE['utc'])[i])
        SSET.append(sset)
    
    return SSET

In [17]:
ACTIVATE['sunset'] = find_sunset(ACTIVATE)

In [18]:
ACTIVATE['month'] = [x.month for x in ACTIVATE.utc]
ACTIVATE['day'] = [x.day for x in ACTIVATE.utc]
ACTIVATE['year'] = [x.year for x in ACTIVATE.utc]
ACTIVATE['hour'] = [x.hour for x in ACTIVATE.sunrise]
ACTIVATE['minute'] = [x.minute for x in ACTIVATE.sunrise]
ACTIVATE['second'] = [x.second for x in ACTIVATE.sunrise]

ACTIVATE['sunrise'] = pd.to_datetime(ACTIVATE[['year', 'month', 'day', 'hour', 'minute', 'second']])

In [19]:
ACTIVATE['hour'] = [x.hour for x in ACTIVATE.sunset]
ACTIVATE['minute'] = [x.minute for x in ACTIVATE.sunset]
ACTIVATE['second'] = [x.second for x in ACTIVATE.sunset]

ACTIVATE['sunset'] = pd.to_datetime(ACTIVATE[['year', 'month', 'day', 'hour', 'minute', 'second']])

In [20]:
ACTIVATE.drop(['month', 'day', 'year', 'hour', 'minute', 'second'], axis = 1, inplace = True)

In [21]:
ACTIVATE

,lat,long,tai_time,utc,sunrise,sunset
16025,38.998035,70.353310,5.418919e+08,2010-03-04 21:31:54.230000,2010-03-04 01:47:37,2010-03-04 13:13:16
16026,38.995064,70.352386,5.418919e+08,2010-03-04 21:31:54.279600,2010-03-04 01:47:37,2010-03-04 13:13:16
16027,38.992092,70.351456,5.418919e+08,2010-03-04 21:31:54.329200,2010-03-04 01:47:37,2010-03-04 13:13:17
16028,38.989124,70.350533,5.418919e+08,2010-03-04 21:31:54.378800,2010-03-04 01:47:37,2010-03-04 13:13:17
16029,38.986153,70.349609,5.418919e+08,2010-03-04 21:31:54.428400,2010-03-04 01:47:38,2010-03-04 13:13:17
...,...,...,...,...,...,...
16411,37.851803,70.003868,5.418919e+08,2010-03-04 21:32:13.375600,2010-03-04 01:48:13,2010-03-04 13:15:28
16412,37.848827,70.002975,5.418919e+08,2010-03-04 21:32:13.425200,2010-03-04 01:48:13,2010-03-04 13:15:28
16413,37.845852,70.002083,5.418919e+08,2010-03-04 21:32:13.474800,2010-03-04 01:48:13,2010-03-04 13:15:28
16414,37.842880,70.001198,5.418919e+08,2010-03-04 21:32:13.524400,2010-03-04 01:48:13,2010-03-04 13:15:29
16415,37.839905,70.000305,5.418919e+08,2010-03-04 21:32:13.574000,2010-03-04 01:48:13,2010-03-04 13:15:29

In [22]:
DN = []

for i in range(len(ACTIVATE)):
    if list(ACTIVATE.utc)[i] > list(ACTIVATE.sunrise)[i] and list(ACTIVATE.utc)[i] < list(ACTIVATE.sunset)[i]:
        dn = 'day'
        DN.append(dn)
    else:
        dn = 'night'
        DN.append(dn)

In [23]:
ACTIVATE['day_or_night'] = DN

In [24]:
# are time zones the same?

ACTIVATE

,lat,long,tai_time,utc,sunrise,sunset,day_or_night
16025,38.998035,70.353310,5.418919e+08,2010-03-04 21:31:54.230000,2010-03-04 01:47:37,2010-03-04 13:13:16,night
16026,38.995064,70.352386,5.418919e+08,2010-03-04 21:31:54.279600,2010-03-04 01:47:37,2010-03-04 13:13:16,night
16027,38.992092,70.351456,5.418919e+08,2010-03-04 21:31:54.329200,2010-03-04 01:47:37,2010-03-04 13:13:17,night
16028,38.989124,70.350533,5.418919e+08,2010-03-04 21:31:54.378800,2010-03-04 01:47:37,2010-03-04 13:13:17,night
16029,38.986153,70.349609,5.418919e+08,2010-03-04 21:31:54.428400,2010-03-04 01:47:38,2010-03-04 13:13:17,night
...,...,...,...,...,...,...,...
16411,37.851803,70.003868,5.418919e+08,2010-03-04 21:32:13.375600,2010-03-04 01:48:13,2010-03-04 13:15:28,night
16412,37.848827,70.002975,5.418919e+08,2010-03-04 21:32:13.425200,2010-03-04 01:48:13,2010-03-04 13:15:28,night
16413,37.845852,70.002083,5.418919e+08,2010-03-04 21:32:13.474800,2010-03-04 01:48:13,2010-03-04 13:15:28,night
16414,37.842880,70.001198,5.418919e+08,2010-03-04 21:32:13.524400,2010-03-04 01:48:13,2010-03-04 13:15:29,night
16415,37.839905,70.000305,5.418919e+08,2010-03-04 21:32:13.574000,2010-03-04 01:48:13,2010-03-04 13:15:29,night